[submodule "glibc-all-in-one"]
	path = glibc-all-in-one
	url = https://github.com/BitterOrange/glibc-all-in-one.git
[submodule "glibc-source-all"]
	path = glibc-source-all
	url = https://github.com/BitterOrange/glibc-source-all.git
